.blog-container-full {
    width: 70%;
    margin: 0px 40px;
    background: white;
    height: 100%;
    text-decoration: none;
    color: black;
    overflow-x: hidden;
    position: relative;
}

.main-container{
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.blog-container-full > img {
    width: 100%;
    max-width: 1440px;
    min-width: 400px;
}

.btn.btn-danger {
    float: right;
    position: relative;
    top: 10px;
}

h1{
    font-size: 30px;
    margin: 10px;
}

h2{
    font-weight: normal;
    font-size: 20px;
    margin: 0px 0px;
}

.blog-container-full .bottom-info{
    margin: 50px 20px;
}

.blog-container-full h3{
    position: absolute;
    font-weight: normal;
    font-style: italic;
    font-size: 15px;
    bottom: 5px;
    left: 15px;
}

.blog-container-full h4{
    position: absolute;
    font-weight: normal;
    font-size: 15px;
    bottom: 5px;
    right: 15px;
}